@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Bai+Jamjuree|Fredericka+the+Great|Gabriela|Julius+Sans+One|Lily+Script+One|Sarala|Signika+Negative|Tulpen+One&display=swap');

.whiskey-title {
    font-size: 2em;
    font-family: 'Tulpen One', cursive;
    letter-spacing: .08em;
    text-align: center;
    position: absolute;
    left: 50%;
}

.whiskey-details {
    font-weight: bold;
    line-height: 1.4em;
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details {
    max-width: 80%;
    font-size: 1.1em;
    margin-top: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0F0D00;
    width: 100%;
    height: 20%;
    color: #A0A0A0;
    margin: auto;
}

canvas {
    width: 100%;
    height:100%;
}

.chart-container {
    margin-top: 10px;
    width: 400px;
    height: 600px;
}

.whiskey-items { 
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    height: 300px;
    width: 100%;
    background-color: #E8EBE4;
    border: 1px solid #A0A0A0;
    box-shadow: 0 5px 3px -3px black;
}

.img-container {
    height: 100%;
    display: flex;
}

img {
    height: 100%;
    object-fit: cover;
    padding-right:10px;
}


.is-favorite {
    color: #F0AA1E;
    flex: 0 1 auto;
    margin-left: 10px;
    cursor: pointer;
}

.star {
    flex: 0 1 auto;
    margin-left: 10px;
    cursor: pointer;
}
