.whiskey-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    grid-row: 1;
    grid-gap: 15px;
    margin: 5px;
    align-items: center;
}

.my-bottles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
    grid-row: 1;
    grid-gap: 15px;
    max-width: 80%;
    margin: auto;
    align-items: center;
}
@media only screen and (max-width: 900px) {
    .whiskey-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

main.responsive-main {
    display: grid;
    grid-template-columns: 1fr;
}
/*Desktop*/
@media only screen and (min-width: 760px) {
    main.responsive-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: 1;
        grid-template-areas: 
            "sd whiskey"
    }
    #search-pane {
        grid-area: sd;
    }    
}